<emp-count [all]="getTotalEmployees()" [male]="getTotalMaleEmployees()" [female]="getTotalFemaleEmployees()" (countRadiobtnSelectionChanged)="onEmpCountRadiobtnChange($event)"></emp-count>

<br /><br />

<table>
    <thead>
        <tr>
            <td>Emp Id</td>
            <td>Emp FirstName</td>
            <td>Emp LastName</td>
            <td>Emp Dept</td>
            <td>Salary</td>
            <td>Date of Birth</td>
            
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let emp of employees;">
            <tr *ngIf="selectedEmpCountRadiobtn=='All'||selectedEmpCountRadiobtn==emp.Gender">
                <td>{{emp.Id}}</td>
                <td>{{emp.FirstName|empTitlePipe:emp.Gender}}</td>
                <td>{{emp.LastName|lowercase}}</td>
                <td>{{emp.Dept}}</td>
                <td>{{emp.Salary|currency:'USD':true:'1.2-5'}}</td>
                <td>{{emp.Dob|date:'longDate'|uppercase}}</td>
            </tr>
        </ng-container>
        <tr *ngIf="!employees||employees.length==0">
            <td colspan="4">No Employees exist!!</td>
        </tr>
    </tbody>
</table>
<ng-template #elseBlock>You have hided</ng-template>
<ng-template #thenBlock>
    <td>Gender</td>
    <td>{{gender}}</td>
</ng-template> 


