<emp-count *ngIf="employees" [all]="getTotalEmployees()" [male]="getTotalMaleEmployees()" [female]="getTotalFemaleEmployees()" (countRadiobtnSelectionChanged)="onEmpCountRadiobtnChange($event)"></emp-count>

<br /><br />

<table>
    <thead>
        <tr>
            <td>Emp Id</td>
            <td>Emp FirstName</td>
            <td>Emp Gender</td>
            
            <td>Salary</td>
            <td>Date of Birth</td>
            
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let emp of employees;">
            <tr *ngIf="selectedEmpCountRadiobtn=='All'||selectedEmpCountRadiobtn==emp.gender">
                <td>{{emp.code}}</td>
                <td>{{emp.name|empTitlePipe:emp.gender}}</td>
                <td>{{emp.gender}}</td>
                
                <td>{{emp.annualSalary|currency:'USD':true:'1.2-5'}}</td>
                <td>{{emp.dateOfBirth}}</td>
            </tr>
        </ng-container>
        <tr *ngIf="!employees">
            <td colspan="5">Loading Please wait</td>
        </tr>
        <ng-container *ngIf="employees">
            <tr *ngIf="employees.length==0">
                <td colspan="5">No Employees records to display</td>
            </tr>
        </ng-container>
    </tbody>
</table>
<ng-template #elseBlock>You have hided</ng-template>
<ng-template #thenBlock>
    <td>Gender</td>
    <td>{{gender}}</td>
</ng-template> 


