<input type="button" value="Refresh" (click)="getEmployees()" />
<table>
    <thead>
        <tr>
            <td>Emp Id</td>
            <td>Emp FirstName</td>
            <td>Emp LastName</td>
            <td>Emp Dept</td>
            <td>Index</td>
            <td>isFirst</td>
            <td>isLast</td>
            <td>isEven</td>
            <td>isLast</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employees;trackBy:trackByEmpId;let i=index;let isFirst=first;let isLast=last;let isEven=even;let isOdd=odd">
            <td>{{emp.Id}}</td>
            <td>{{emp.FirstName}}</td>
            <td>{{emp.LastName}}</td>
            <td>{{emp.Dept}}</td>
            <td>{{i}}</td>
            <td>{{isFirst}}</td>
            <td>{{isLast}}</td>
            <td>{{isEven}}</td>
            <td>{{isOdd}}</td>
        </tr>
        <tr *ngIf="!employees||employees.length==0">
            <td colspan="4">No Employees exist!!</td>
        </tr>
    </tbody>
</table>
<ng-template #elseBlock>You have hided</ng-template>
<ng-template #thenBlock>
    <td>Gender</td>
    <td>{{gender}}</td>
</ng-template> 


